
.card {
    border-radius:$br;
    box-sizing:border-box;
    border:1px solid $clr-border;
}

.card-title {
    @extend .text-title;
    padding:8px;
    // font-size:1.4rem;
    // text-align:center;
    // background:$clr-card-bg;
    // color:$heading-clr;
    // font-weight:100;
    // border-top-right-radius:$br;
    // border-top-left-radius:$br;
    // border-bottom:1px solid $clr-border;
}

.card img, .card-md img, .card-sm img {
    max-width:100%;
    box-sizing:border-box;
}

.card-img {
    border-top-right-radius:$br;
    border-top-left-radius:$br;
    border-bottom:1px solid $clr-border;
}

.card-sm {
    @extend .card;
    display:inline-block;
    width: 300px;
    max-width: 300px;
}

.card-md {
    @extend .card;
    display:inline-block;
    width: 500px;
    max-width: 500px;
}

// .card-sm-flex {
//     @extend .card;
//     width: 300px;
//     flex:1;
// }

// .card-md-flex {
//     @extend .card;
//     width: 500px;
//     flex:1;
// }

.card-container {
    @extend .flex-container;
    // width:100%;
    
    .card, .card-sm, .card-md {
        flex-basis: auto;
        flex-grow: 1;
        margin:4px;
    }
    
    // %card {
    //     border-radius:$br;
    //     flex-basis: auto;
    //     flex-grow: 1;
    //     margin:$card-spacing;
    //     box-sizing:border-box;
    //     border:1px solid $clr-border;
    // }
    
    // .card {
    //     @extend %card;
    // }
    
    // .card-sm {
    //     @extend .card-sm;
    //     @extend %card;
    // }
    
    // .card-md {
    //     @extend .card-md;
    //     @extend %card;
    // }
    
}

// @media ( max-width: 500px ) {
//     .card-container .card-md {
//         max-width:100% !important;
//         min-width:100%;
//     }
// }
