//---Backgrounds
// Background highlight
.bg-h:hover {
    background:$bg-highlight;
    cursor:pointer;
}
.bg-blue, .bg-blue-h {
    background:$blue !important;
    color:white;
}

.bg-blue-h:hover {
    background:$blueh !important;
}

.bg-w {
    background:white !important;
}

.bg-red, .bg-red-h {
    background:$red !important;
    color:white;
}

.bg-red-h:hover {
    background:$redh !important;
}


.bg-green, .bg-green-h {
    background:$green !important;
    color:white;
}

.bg-green-h:hover {
    background:$greenh !important;
}

.bg-yellow, .bg-yellow-h {
    background:$yellow !important;
}

.bg-yellow-h:hover {
    background:$yellowh !important;
}

.bg-darkgray, .bg-darkgray-h {
    background:$darkgray !important;
    color:white;
}
.bg-darkgray-h:hover {
    background:$darkgrayh !important;
}

.bg-gray, .bg-gray-h {
    background:$gray !important;
}
.bg-gray-h:hover {
    background:$grayh !important;
}

.bg-orange, .bg-orange-h {
    background:$orange !important;
}
.bg-orange-h:hover {
    background:$orangeh !important;
}

.bg-purple, .bg-purple-h {
    color:white;
    background:$purple !important;
}
.bg-purple-h:hover {
    background:$purpleh !important;
}


//---Colors
.clr-w {
    color:white !important;
}

.clr-blk {
    color:black !important;
}

.clr-gray {
    color:$gray
}
.clr-darkgray {
    color:$darkgray
}
.clr-text {
    color:$text-color;
}

.clr-blue {color:$blue !important;}
.clr-red {color:$red !important;}
.clr-green {color:green !important;}
.clr-yellow {color:yellow !important;}
.clr-orange {color:orange !important;}
.clr-purple {color:purple !important;}

