
.dlg-bg {
    @extend .full-size-bg;
    background:rgba(74,86,100,0.7);
    z-index:200 !important;
    display:flex;
    align-items:center;
    justify-content:center;
}

.dlg-bg-temp {
    @extend .dlg-bg;
    z-index:220 !important;
}

.dlg-bg:not(.active) {
    display:none;
}

.dlg-bg-temp:not(.active) {
    display:flex;
}

.dlg-frame {
    position:relative;
    background:white;
    border-radius:3px;
	max-height:90vh;
	overflow-y:auto;
// 	border:1px solid rgb(120,120,120);
	box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02) !important;
// 	box-shadow:1px 1px $clr-btn-shadow;
	min-width:350px;
	max-width:90vw;
	max-width:900px;
    box-sizing:border-box;
    padding:0px;
    outline:none;
    display:flex;
    flex-direction:column;
    
    > .btn-close {
        position:absolute;
        // top:2px;
        right:6px;
    }
}

.dlg-frame-wide {
    @extend .dlg-frame;
    min-width:600px;
    max-width:90vw;
}

.dlg-frame-none {
    @extend .dlg-frame;
    background:transparent;
    width:auto;
    max-width:initial;
    border:0px;
    box-shadow:none !important;
    
    .btn-close {
        position:fixed;
        right:4px;
        top:4px;
        color:rgb(220,220,220);
        font-size:2rem !important;
        font-weight:normal;
    }
    .btn-close:hover {
        color:white;
    }
}

.dlg-img {
    max-width:100%;
    box-sizing:border-box;
    max-height:calc(90vh - 80px) !important;
    box-shadow:0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
}

.dlg-frame-full {
    top:24px;
    bottom:24px;
    left:24px;
    right:24px;
    background:white;
    border-radius:3px;
// 	height:90vh;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02) !important;
	position: fixed;
	margin:auto;
    box-sizing:border-box;
    display:flex;
    flex-direction:column;
}

.dlg-title-frame, .dlg-no-title-frame {
    @extend .flex-row;
    padding-right:4px;
    min-height:initial !important;
    
    .btn-close {
        font-size:1.8rem !important;
    }
}

.dlg-title {
    flex:1;
    font-size:1.3rem;
    padding:10px 12px;
    // font-weight:200;
    box-sizing:border-box;
    text-align:center;
}

.dlg-spacer {
    height:20px;
}

.dlg-content {
    padding:12px 16px;
    // font-family:$font;
    color:rgb(80,80,80);
    flex:1;
    overflow-y:auto;
    box-sizing:border-box;
    @extend .scrollbar;
}

.dlg-bottom {
    margin-top:10px;
    text-align:right;
    margin-bottom:10px;
    text-align:center;
    
    .btn, button {
        min-width:80px;
    }

}

.dlg-frame .li-item {
    // padding:0.5rem 1.0rem;
    border:1px solid rgba(0,0,0,0);
    // border-radius:4px;
}

.dlg-frame .li-item:hover {
    border:1px solid rgba(0,0,0,0.2);
}