.pebble {
    color:$text-color;
    
    * {
        box-sizing:border-box;
        // min-height:0;
        // min-width:0;
    }
}

html.pebble,body.pebble {
    height: 100%;
    margin: 0;
}

//---Links
.pebble a, .pebble a:visited {
    color:rgb(26,99,163);
    text-decoration:none;
    outline:none;
    cursor:pointer;
}
.pebble a:hover {
    color:rgb(30,118,195);
}

//---Buttons
.btn, .pebble button {
    border:none;
    border-radius:$br-btn;
    background: $clr-btn-top;
    background: linear-gradient(to bottom, $clr-btn-top 0%,$clr-btn-btm 100%);
    padding:.45rem .9rem;
    font-size:1rem;
    line-height:1rem;
    cursor:pointer;
    // box-shadow:1px 1px $clr-btn-shadow;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-sizing:border-box;
    margin:2px;
    // line-height:1.4rem;
    font-family:inherit;
}

.btn:disabled, .pebble button:disabled {
    cursor:default;
}

.btn:hover, .pebble button:hover {
    background: $clr-btn-top-hvr;
    background: linear-gradient(to bottom, $clr-btn-top-hvr 0%,$clr-btn-btm-hvr 100%);
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

button.pebble {
    @extend .btn;
}

.btn-lg, .pebble button.btn-lg {
    @extend .btn;
    padding:.45rem 1.45rem;
    font-size:1.3rem;
    line-height:2rem;
}

.btn-sm, .pebble button.btn-sm {
    @extend .btn;
    padding:.2rem .6rem;
    font-size:0.8rem;
    line-height:1rem;
}

.btn-close {
    @extend .btn;
    color:rgba(0,0,0,0.5);
    cursor:pointer;
    background:none !important;
    border:0  !important;
    box-shadow:none !important;
    padding: 0.14rem 0.2rem !important;
    // box-sizing:border-box;
    font-size:1.6rem !important; 
    line-height:1.6rem !important;
    // padding:4px 6px;
    // width:1.6rem;
    // height:1.6rem;
}
.btn-close:after {
    content:'\00D7';
}
.btn-close:hover {
    color:rgba(0,0,0,0.7);
    font-weight:bold;
}

.btn-clear {
    background:transparent !important;
    box-shadow:none !important;
    border:0;
    opacity:0.8;
    cursor:pointer;
}

.btn-clear:hover {
    opacity:1;
}

.btn-h {
    opacity:0.8;
    cursor:pointer;
}

.btn-h:hover {
    opacity:1;
}

//---Button Images
.btn img, .pebble button img, 
.btn svg, .pebble button svg, 
.btn i, .pebble button i {
    height:1.4rem;
    vertical-align:top;
    margin-top:-0.2rem;
    margin-bottom:-0.2rem;
    margin-right:0.4rem;
    box-sizing:border-box;
}
.btn img:after {
    margin-right:1rem;
    
}
.btn-lg img, .pebble button.btn-lg img {
    height:2rem;
    // line-height:2rem;
    margin-top:0px;
}

.btn-sm img, .pebble button.btn-sm img {
    height:1rem;
    margin-top:0px;
}

//---Button - Only Image
.btn-img {
    @extend .btn;
    padding: .45rem .45rem !important;
    // padding:.33rem .33rem !important;
}
.btn-img img, .btn-img svg, .btn-img i {
    height:1.5rem !important;
    margin:-0.25rem 0px -0.25rem 0px !important;
}

.btn-img-sm {
    @extend .btn-sm;
    padding:.2rem .2rem !important;
}
.btn-img-sm img, .btn-img-sm svg {
    height:1.2rem !important;
    margin:-0.1rem 0px -0.1rem 0px !important;
}
.btn-img-lg {
    @extend .btn-lg;
    padding:.43rem 0.43rem !important;
}
.btn-img-lg img, .btn-img-lg svg {
    height:2.4rem !important;
    line-height:2.4rem;
    margin:-0.2rem 0px -0.2rem 0px !important;
}

//---button group
.btn-group {
    
    display:inline-flex;
    
    .btn {
        border-radius:0px;
        margin:0px;
    }
    
    .btn:first-child {
        border-top-left-radius: $br-btn;
        border-bottom-left-radius: $br-btn;
    }
    
    .btn:last-child {
        border-top-right-radius: $br-btn;
        border-bottom-right-radius: $br-btn;
    }
    
    .separator {
        width:0.6rem;
        background:$clr-btn-btm;
        background:$clr-btn-shadow;
        background: linear-gradient(to bottom, $clr-btn-top-hvr 0%,$clr-btn-btm-hvr 100%);
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    }
    
}

.btn-toggle-group {
    @extend .btn-group;

    .btn:not(.active) {
        opacity:0.5;
    }

    .separator {
        opacity:0.7;
    }

}

//---stickers
.sticker {
    @extend .shadow;
    display:inline-flex;
    box-sizing:border-box;
    white-space: nowrap;
    font-size:0.8rem;
    line-height:0.85rem;
    padding: .35em .5em;
    margin-left:0.5rem;
    margin-right:0.5rem;
    border-radius:$br;
    font-weight:bold;
}

//---Notification
.notify {
    background:$notify-bg;
    border-radius:$br;
    padding:$content-padding;
    padding-right:2*$content-padding;
    margin:10px 0px;
    background:rgba(183,221,255, 0.9);
    color:rgba(40,48,56,0.9);
    position:relative;
    box-sizing:border-box;
    
    .btn-close {
        position:absolute;
        top:$content-padding/2;
        right:$content-padding/2;
        // top:0.4rem;
        // right:0.4rem;
    }
}

//---Images
.pebble img, img.pebble {
    max-width:100%;
    box-sizing:border-box;
    max-height:100%;
}
img.contain {
    object-fit:contain;
}

img.cover {
    object-fit:cover;
}

//---Chevron
// .chevron::before,
.chevron-t:before,
.chevron-r:before,
.chevron-b:before,
.chevron-l:before
{
	border-style: solid;
	border-width: 0.12em 0.12em 0 0;
	content: '';
	display: inline-block;
	height: 0.5em;
	width: 0.5em;
	position: relative;
    box-sizing:border-box;
    border-top-right-radius:0.12em;
	/*left: 0.25em;*/
	top: -0.12em;
	/*vertical-align: top;*/
}

.chevron-t:before {
    transform: rotate(-45deg);
    top:0.08em;
}

.chevron-b:before {
	top: -0.15em;
	transform: rotate(135deg);
}

.chevron-l:before {
	left: 0.15em;
	transform: rotate(-135deg);
}

.chevron-r:before {
	left: -0.15em;
	transform: rotate(45deg);
}



//---Other
pre.pebble, .pebble pre {
    background:$pre-bg;
    border-radius:$br;
    border:1px solid $clr-border;
    padding:0.8em;
    box-sizing:border-box;
    code {
        background:none;
        border:none;
        padding:0px;
        display:block;
    }
}
code.pebble, .pebble code {
    padding:0.1em 0.3em;
    background:$pre-bg;
    border-radius:$br;
    border:1px solid $clr-border;
    box-sizing:border-box;
    display:inline-block;
    vertical-align:top;
}

.pebble hr, hr.pebble {
    border:0px;
    border-top: 1px solid $clr-border2;
}

template {
    display: none;
}

//---iframe
iframe.pebble {
    border:0px;
    display:block;
}