//---Flex
.flex-row {
    display:flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;

    // justify-content:center;
        // -webkit-justify-content:center;
    box-sizing:border-box;
    min-height:0;
    min-width:0;
}

.flex-col {
    display:flex;
        display:-webkit-flex;
    flex-direction:column;
        -webkit-flex-direction:column;
    box-sizing:border-box;
    min-height:0;
    min-width:0;
}

.flex-container {
    @extend .flex-row;
    flex-wrap:wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
    justify-content:center;
        -webkit-justify-content:center;
}

.flex-wrap {
    flex-wrap:wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
}

.flex-center {
    align-items:center;
    justify-content:center;
        -webkit-justify-content:center;
}

.flex-row-c {
    @extend .flex-row;
    @extend .flex-center;
    // align-items:center;
}

.i-flex {
    display:inline-flex;
    box-sizing:border-box;
}

.min-height-0 {
    min-height:0 !important;
}

.min-height-auto {
    min-height:auto !important;
}

// .flex-row .scroll-y, .flex-col .scroll-y {
//     min-height:0;
// }

.flex {
    flex:1;
}

.flex-0 {
    flex-grow: 0 !important;
    flex-shrink: 1 !important;
    flex-basis:auto !important;
}

.flex-1 {flex:1;}
.flex-2 {flex:2;}
.flex-3 {flex:3;}
.flex-4 {flex:4;}

.flex-row-break {
    flex-basis:100%;
}

//---Flex Grow
.flex-g, .flex-g-1 {
    flex-grow:1;
}

.flex-g-0 {
    flex-grow:0;
}

.flex-g-2 {
    flex-grow:2;
}

//---Flex Shrink
.flex-s, .flex-s-1 {
    flex-shrink:1;
}

.flex-s-0 {
    flex-shrink:0;
}

.flex-s-2 {
    flex-shrink:2;
}

//---Flex Grid
.col-20, .col-25, .col-34,.col-33, .col-40, .col-50, .col-60, .col-66, .col-67, .col-75, .col-80 {
    box-sizing:border-box;
    overflow-x:hidden;
    flex-grow:1;
}

// Columns
.col-20 {flex-basis:20%;}
.col-25 {flex-basis:25%;}
.col-34,.col-33 {flex-basis:34%;}
.col-40 {flex-basis:40%;}
.col-50 {flex-basis:50%;}
.col-60 {flex-basis:60%;}
.col-66, .col-67 {flex-basis:66%;}
.col-75 {flex-basis:75%;}
.col-80 {flex-basis:80%;}
