
input.pebble:not([type=checkbox]):not([type=radio]):not([type=button]), 
form.pebble input:not([type=checkbox]):not([type=radio]):not([type=button]), 
.form-row  input:not([type=checkbox]):not([type=radio]):not([type=button]), 
.pebble input:not([type=checkbox]):not([type=radio]):not([type=button]),
textarea.pebble, .pebble textarea,
.form-row textarea,
.form-row .li-item-container
{
    // padding:0.4rem;
    padding:.37rem .59rem;
    // padding:.45rem .9rem;
    border-radius: $br;
    margin:1px 0px;
    border:1px solid $clr-border;
    // margin-top:3px;
    // margin-bottom:3px;
    // font-family:$font;

    // line-height:1.3rem;
    // background:rgb(252,252,252);
    // outline:none;
    box-shadow:inset 0 1px 2px rgba(80,80,80,0.15);
    box-sizing:border-box;
    min-width: 0;  // needed to fix width when changing font-size for input
}

.form-row .li-item-container {
    padding:0px;
}

input.pebble:not([type=checkbox]):not([type=radio]):not([type=button]), 
form.pebble input:not([type=checkbox]):not([type=radio]):not([type=button]), 
.form-row  input:not([type=checkbox]):not([type=radio]):not([type=button]), 
.pebble input:not([type=checkbox]):not([type=radio]):not([type=button])
{
    font-size:1rem;
    line-height:1rem;
}

.form-row select[multiple],  
.form-row select[size]:not([size='1']) {
    box-shadow:inset 0 1px 3px rgba(80,80,80,0.2);
    font-size:1.1rem;
    border-radius: $br;
    margin:2px 0px;
    border:1px solid $clr-border;
}


select:not([multiple]):not([size]).pebble, .form-row select:not([multiple]):not([size]), 
.pebble select:not([multiple]):not([size])
// select.pebble:not([multiple]), .pebble select:not([multiple]),
// .form-row select:not([multiple])
{
    @extend .btn;
    padding:.32rem .59rem;
    // padding:.45rem .9rem;
    // line-height:1rem;
    // margin:2px 0px;
    // padding:.33rem .59rem;
    // margin-top:3px;
    // margin-bottom:3px;
    // // padding-top:0.4rem;
    // // padding-bottom:0.4rem;
    // font-size:1.1rem;
    // vertical-align:bottom;
    // appearance: none;
    // -webkit-appearance: none;
    // -moz-appearance: none;
}

input[type=button].pebble, .pebble input[type=button],
input[type=submit].pebble, .pebble input[type=submit],
input[type=reset].pebble, .pebble input[type=reset]
{
    @extend .btn;
}



textarea.pebble, .pebble textarea {
    height:4.8rem;
    box-sizing:border-box;
    resize: none;
    font-size:0.9rem;
    line-height:0.9rem;
}


select.pebble[multiple], .pebble select[multiple], 
.pebble select[size]:not([size='1']), select.pebble[size]:not([size='1']) {
    border-radius: $br;
    border:1px solid $clr-border;
    margin:2px 0px;
    // margin-top:3px;
    // margin-bottom:3px;
    // outline-color:$clr-highlight;
    // padding:0.4rem 0px;
    box-sizing:border-box;
    option {
        // margin:1px;
        // padding:4px 10px;;
        padding:.15rem .45rem;
        font-size:1rem;
        // font-family:$font;
    }
    
}

.form-row {
    @extend .flex-row;
    // justify-content: center;
    align-items:center;
}

.form-label, .form-row label {
    // display:inline-block;
    flex-basis:180px;
    text-align:right;
    padding:0.5rem;
    box-sizing:border-box;
    // font-size:1rem;
    // line-height:1rem;
}

.form-label.required:after, .form-row.required label:after {
    margin-left:2px;
    content:'*';
    opacity:0.8;
}

.form-row.wide {
    @extend .flex-col;
    align-items:stretch;
    
}

.form-row.wide .form-label, .form-row.wide label {
    flex-basis:0;
    text-align:left;
    margin-top:0.5rem;
    padding:0.25rem 0px;
}


.form-field-container {
    box-sizing:border-box;
    padding:0px;
    margin:0px;
    text-align:left;
    flex:1;
}

// .form-row label {
//     flex:1;
//     text-align:right;
//     padding: calc(0.2rem + 0.5px) 0;
//     box-sizing:border-box;
// }


.form-row input:not([type=checkbox]),
// .form-row input,
.form-row textarea,
.form-row select {
    flex:1;
    // @extend input.pebble;
}
// .form-row select {
//     flex:1;
//     @extend select.pebble;
    
// }

.form-separator,
.form-separator-line {
    flex:1;
    height:1px;
    padding:0px !important;
    margin:0.8rem 0px !important;
    display:block;
    box-sizing:border-box;
}
.form-separator-line {
    background:rgb(180,180,180);
}

.form-heading {
    font-size:1.3rem !important;
    font-weight:bold;
    flex:1;
    text-align:left !important;
}

.form-label-wide {
    flex:1;
    text-align:left !important;
    padding:0.25rem 0.5rem !important;
}

.form-list {
    max-height:10em;
}

.form-note {
    font-size:0.9rem !important;
    flex:1;
    text-align:left !important;
    padding:0.5rem 1rem !important;
    opacity:0.8;
}

.form-rtext {
    padding-left:0.5rem;
    font-size:0.9rem;
    opacity:0.8;
}

// View only form
.form-viewonly .form-label, .form-viewonly label {
    opacity:0.6;
    padding:0.2rem 0.5rem;
}

//---
//---Checkbox (visual)
.checkbox {
    text-indent:-26px;
    padding-left:26px;
}
.checkbox::before {
    padding-right:6px;
    vertical-align: middle;
}
.checkbox::before {
    content:url('data:image/svg+xml;utf8,<svg width="16" height="16" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" version="1.1"><path d="M1,1 L1,15 15,15 15,1 1,1" fill="none" stroke="currentColor" stroke-width="1" /></svg>');
}
.checkbox.checked::before {
    content:url('data:image/svg+xml;utf8,<svg width="16" height="16" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" version="1.1"><path d="M1,1 L1,15 15,15 15,1 1,1" fill="none" stroke="currentColor" stroke-width="1" /><path d="M3.5,8 L7,11 12,4" fill="none" stroke="currentColor" stroke-width="2" /></svg>');
}

//---
//---Toggle Switch
$switch_height: 1.2rem;
.toggle-switch {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: $switch_height*2;
    height: $switch_height;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius:4px;
    cursor: pointer;
    background-color: rgb(116,119,128);
    background-color: $grayh;
    transition: background-color ease 0.4s;
    box-sizing:border-box;
    border:none !important;
    margin:0px;
    box-shadow:0px 0px 4px inset rgba(0,0,0,0.1);
}

.toggle-switch:hover {
    outline:none;
}

.toggle-switch:before {
    content: " ";
    display: block;
    position: absolute;
    z-index: 2;
    width: calc(#{$switch_height} - 4px);
    height: calc(#{$switch_height} - 4px);
    background: #fff;
    background: linear-gradient(to top, rgba(235,235,235,1) 0%,rgba(250,250,250,1) 100%);
    left: 2px;
    top: 2px;
    border-radius:3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transition:  0.4s;
}

.toggle-switch:checked {
    // background-color: rgb(70,167,237);
    background-color: $blue;
}

.toggle-switch:checked:before {
    left: calc(#{$switch_height} + 2px);
}

//---toggle-swtich-lg
.toggle-switch-lg {
    @extend .toggle-switch;
    width: $switch_height*2*1.3;
    height: $switch_height*1.3;
}
.toggle-switch-lg:before {
    // @extend .toggle-switch:before;
    width: calc(#{$switch_height*1.3} - 4px);
    height: calc(#{$switch_height*1.3} - 4px);
}
.toggle-switch-lg:checked:before {
    left: calc(#{$switch_height*1.3} + 2px);
}
//---toggle-swtich-sm
.toggle-switch-sm {
    @extend .toggle-switch;
    width: 1.8rem;
    height: 1rem;
}
.toggle-switch-sm:before {
    // @extend .toggle-switch:before;
    width: calc(1rem - 4px);
    height: calc(1rem - 4px);
}
.toggle-switch-sm:checked:before {
    left: calc(1rem - 1px);
}
//---toggle-switch disabled
.toggle-switch:disabled,.toggle-switch-lg:disabled,.toggle-switch-sm:disabled {
    cursor:default;
    opacity:0.8;
}