
%icon {
    width: 16px;
    height: 16px;
    line-height:1em;
    display:inline-block;
    background-position: center;
    background-repeat:no-repeat;
    // background-size:cover;
}

i.icon-w, .icon-w i {
    filter:  brightness(0) invert(1);
}

//---Blank
.icon-blank {
    @extend %icon;
    background:none !important;
}

//---Files
.icon-file {
    @extend %icon;
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" version="1.1"><path d="M10,1 L14,5 L14,13 a2,2,0,0,1,-2,2 L4,15 a2,2,0,0,1,-2,-2 L2,3 a2,2,0,0,1,2,-2z" fill="none" stroke="currentColor" stroke-width="1.5" /><path d="M14,5 L11,5 a1,1,0,0,1,-1,-1  L10 1z" fill="currentColor" stroke-width="0" /></svg>');
}
.icon-folder {
    @extend %icon;
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" version="1.1"><path d="M13,3 a2,2,0,0,1,2,2 L14.6,12 a2,2,0,0,1,-2,2 L3.3,14 a2,2,0,0,1,-2,-2 L1 5 a2,2,0,0,1,2,-2z" fill="none" stroke="currentColor" stroke-width="1.5"/><path d="M1,3 a1,1,0,0,1,1,-1 L7,2  a1,1,0,0,1,1,1 L8,4  a1,1,0,0,1,-1,1 L2,5  a1,1,0,0,1,-1,-1z" fill="currentColor" stroke="currentColor" stroke-width="1.5"/></svg>');
}
.icon-save {
    @extend %icon;
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" version="1.1"><path d="M1.5,2.5 a1,1,0,0,1,1,-1 L11.5,1.5 L14.5 4.5 L14.5,13.5  a1,1,0,0,1,-1,1 L2.5,14.5  a1,1,0,0,1,-1,-1z" fill="none" stroke="currentColor" stroke-width="1.2"/><path d="M5,1.5 L5,6.5 11,6.5 11,1.5 M4,15 L4,10 12,10 12,15" fill="none" stroke="currentColor" stroke-width="1"/><path d="M8.5,2.5 L8.5,5 9.5,5 9.5,2.5" fill="none" stroke="currentColor" stroke-width="1" opacity="0.7"/><path d="M5.5,12.25 L10.5,12.25" fill="none" stroke="currentColor" stroke-width="1" opacity="0.5"/></svg>');
}
.icon-download {
    @extend %icon;
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" version="1.1"><path d="M8,2 L8,10 M4,7 L8,10 12,7" fill="none" stroke="currentColor" stroke-width="2" /><path d="M2,12 L2,14 14,14 14,12" fill="none" stroke="currentColor" stroke-width="1.5" /></svg>');
}
//---Actions
.icon-edit {
    @extend %icon;
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" version="1.1"><path d="M1,15 L4,15 1,12z M5,14 L12,7 9,4 2,11z M13,6 L15,4 12,1 10,3z" fill="currentColor" stroke="none" stroke-width="0"/></svg>');
}
.icon-menu {
    @extend %icon;
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" version="1.1"><path d="M3,4 L13,4 M3,8 L13,8 M3,12 L13,12" fill="none" stroke="currentColor" stroke-width="1.5"/></svg>');
}
.icon-plus {
    @extend %icon;
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" version="1.1"><path d="M8,3 L8,13 M3,8 L13,8" fill="none" stroke="currentColor" stroke-width="2.5"/></svg>');
}
.icon-checkmark {
    @extend %icon;
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" version="1.1"><path d="M3,8 L7,11 12,4" fill="none" stroke="currentColor" stroke-width="2" /></svg>');
}
.icon-minus {
    @extend %icon;
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" version="1.1"><path d="M4,8 L12,8" fill="none" stroke="currentColor" stroke-width="2.5"/></svg>');
}
.icon-cross {
    @extend %icon;
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" version="1.1"><path d="M4,4 L12,12 M12,4 L4,12" fill="none" stroke="currentColor" stroke-width="2"/></svg>');
}
.icon-copy {
    @extend %icon;
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" version="1.1"><path d="M1,3 a2,2,0,0,1,2,-2 L9,1 a2,2,0,0,1,2,2 L11,10 a2,2,0,0,1,-2,2 L3,12 a2,2,0,0,1,-2,-2z M11,4 L13,4 a2,2,0,0,1,2,2 L15,13 a2,2,0,0,1,-2,2 L8,15 a2,2,0,0,1,-2,-2 L7,12" fill="none" stroke="currentColor" stroke-width="1.5"/><path d="M3,4 L8,4 M3,6.5 L9,6.5 M3,9 L8,9 M11,7 L12.5,7 M11,9.5 L13,9.5 M8,12 L13,12" fill="none" stroke="currentColor" stroke-width="1" opacity="0.5"/></svg>');
}
.icon-paste {
    @extend %icon;
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" version="1.1"><path d="M1,4 a2,2,0,0,1,2,-2 L10,2 a2,2,0,0,1,2,2 L12,12 a2,2,0,0,1,-2,2 L3,14 a2,2,0,0,1,-2,-2z" fill="none" stroke="currentColor" stroke-width="1.5"/><path d="M1,4 a2,2,0,0,1,2,-2 L10,2 a2,2,0,0,1,2,2 L12,12 a2,2,0,0,1,-2,2 L3,14 a2,2,0,0,1,-2,-2z" fill="currentColor" stroke="none" stroke-width="0" opacity="0.4" /><path d="M3.5,2 a1,1,0,0,1,1,-1 L8,1  a1,1,0,0,1,1,1 L9,2  a1,1,0,0,1,-1,1 L4.5,3  a1,1,0,0,1,-1,-1z" fill="currentColor" stroke="currentColor" stroke-width="1.5"/><path d="M7,7 a1,1,0,0,1,1,-1 L14,6 a1,1,0,0,1,1,1 L15,14 a1,1,0,0,1,-1,1 L8,15 a1,1,0,0,1,-1,-1z" fill="white" stroke="currentColor" stroke-width="1"/><path d="M8.5,8.5 L12.5,8.5 M8.5,10.5 L13,10.5 M8.5,12.5 L12,12.5" fill="none" stroke="currentColor" stroke-width="1" opacity="0.5"/></svg>');
}
.icon-search {
    @extend %icon;
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" version="1.1"><path d="M3,3 a3.2,3.2,0,0,1,6.4,6.4 a3.2,3.2,0,0,1,-6.4,-6.4" fill="none" stroke="currentColor" stroke-width="1.5"/><path d="M10.5,10.5 L13,13" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round"/></svg>');
}
.icon-trash {
    @extend %icon;
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" version="1.1"><path d="M12.5,4 L12.5,12 a2,2,0,0,1,-2,2 L5.5,14 a2,2,0,0,1,-2,-2 L3.5,4 M2,3 a1,1,0,0,1,0.5,-0.5 L13,2.5 a1,1,0,0,1,0.5,0.5 L13.5,4 a1,1,0,0,1,-0.5,0.5 L2.5,4.5 a1,1,0,0,1,-0.5,-0.5z M6.25,1 L9.75,1" fill="none" stroke="currentColor" stroke-width="1.5"/><path d="M6.75,6 L6.75,12 M9.25,6 L9.25,12" fill="none" stroke="currentColor" stroke-width="1.5" opacity="0.5"/></svg>');
}
.icon-expand {
    @extend %icon;
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" version="1.1"><path d="M1,6 L1,1 6,1 M10,1 L15,1 15,6 M15,10 L15,15 10,15 M6,15 L1,15 L1,10" fill="none" stroke="currentColor" stroke-width="1.25"/><path d="M1,1 L6.5,6.5 M9.5,6.5 L15,1 M9.5,9.5 L15,15 M6.5,9.5 L1,15" fill="none" stroke="currentColor" stroke-width="1"/></svg>');
}

.icon-collapse {
    @extend %icon;
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" version="1.1"><path d="M10,15 L10,10 15,10 M1,6 L6,6 L6,1 M15,6 L10,6 10,1 M1,10 L6,10 L6,15" fill="none" stroke="currentColor" stroke-width="1.25"/><path d="M0.5,0.5 L6,6 M10,6 L16,0 M10,10 L15.5,15.5 M6,10 L0.5,15.5" fill="none" stroke="currentColor" stroke-width="1"/></svg>');
}

//---Chevron
.icon-chevron-right {
    @extend %icon;
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" version="1.1"><path d="M6,4 L10,8 6,12" fill="none" stroke="currentColor" stroke-width="1.5"/></svg>');
}
.icon-chevron-left {
    @extend %icon;
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" version="1.1"><path d="M10,4 L6,8 10,12" fill="none" stroke="currentColor" stroke-width="1.5" /></svg>');
}
.icon-chevron-up {
    @extend %icon;
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" version="1.1"><path d="M4,10 L8,6 12,10" fill="none" stroke="currentColor" stroke-width="1.5" /></svg>');
}
.icon-chevron-down {
    @extend %icon;
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" version="1.1"><path d="M4,6 L8,10 12,6" fill="none" stroke="currentColor" stroke-width="1.5" /></svg>');
}