
.menu-container {
    min-width:160px;
    background:rgb(250,250,250);
    @extend .shadow;
    position:fixed;
    z-index:300;
    box-sizing:border-box;
}

.menu-container:not(.active) {
    display:none;
}

.menu-item {
    line-height:1rem;
    font-size:1rem;
    padding:0.45rem 0.75rem;
    cursor:pointer;
    box-sizing:border-box;
    color: black;
    user-select: none;
}

.menu-item:hover {
    background:$clr-highlight;
}

.menu-item img, .menu-item i {
    height:1rem;
    vertical-align:top;
    padding-right:0.3rem;
    box-sizing:border-box;
}

.menu-separator {
    display:block;
    height:1px;
    background:$clr-border;
}

.menu-bg {
    @extend .full-size-bg;
    background:transparent;
    z-index:290 !important;

}