
// Ignore all parent css (Not supported by IE and Edge)
.ignore{all:unset;}

.hidden {
    display:none !important;
}

.clear-all {
    all:revert;
}

.initial-all {
    all:initial;
}

.block {
    display:block;
}
.i-block {
    display:inline-block;
    box-sizing:border-box;
}

//--- General Content
.content {
    padding:$content-padding;
    box-sizing:border-box;
    
    img {
        max-width:100%;
        box-sizing:border-box;
        max-height:100%;
    }
    
}

.center-container {
    margin-left: auto;
    margin-right: auto;
    width:960px;
    max-width:100%;
    box-sizing:border-box;
}

.center-container-lg {
    @extend .center-container;
    width:1200px;
}

.center-container-md {
    @extend .center-container;
    width:800px;
}

.center-container-sm {
    @extend .center-container;
    width:600px;
}

.center-content {
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align:center;
    // margin:auto;
    // width:50%;
}

//---Border
.border-n {
    border:0px;
}

.border {
    border:1px solid $clr-border;
}
.border-t {
    border-top:1px solid $clr-border;
}
.border-b {
    border-bottom:1px solid $clr-border;
}
.border-l {
    border-left:1px solid $clr-border;
}
.border-r {
    border-right:1px solid $clr-border;
}

.border-n {
    border:0px;
}

//---Border Radius
.rad {
    border-radius:$br;
}
.rad-s {
    @extend .rad;
    @extend .shadow;
}

.rad-t {
    border-radius:$br $br 0 0;
}

.rad-b {
    border-radius:0 0 $br $br;
}

.rad-l {
    border-radius:$br 0 $br 0;
}

.rad-r {
    border-radius:0 $br 0 $br;
}


//---Sizing
.wide {
    width:100%;
    box-sizing:border-box;
}
// .wide, .full-width {
//     margin-left:0px;
//     margin-right:0px;
// }

.full-height {
    min-height:1px;
    height:100vh;
    box-sizing:border-box;
    margin-top:0px;
    margin-bottom:0px;
    overflow-y:auto;
}

.full-size, .full-size-bg {
    min-height:0px;
    margin:0;
    width:100%;
    height:100vh;
    box-sizing:border-box;
    position:fixed;
    left:0;
    top:0;
}

.full-size-bg {
    width:100vw;
    // display:block;
    z-index:-1;
}

//---Spacing
.margin {
    margin:1rem;
}
.margin-t {
    margin-top:1rem;
}
.margin-b {
    margin-bottom:1rem;
}
.margin-l {
    margin-left:1rem;
}
.margin-r {
    margin-right:1rem;
}

.margin-sm {
    margin:0.5rem;
}
.margin-sm-t {
    margin-top:0.5rem;
}
.margin-sm-b {
    margin-bottom:0.5rem;
}
.margin-sm-l {
    margin-left:0.5rem;
}
.margin-sm-r {
    margin-right:0.5rem;
}
.margin-lg {
    margin:1.5rem;
}
.margin-lg-t {
    margin-top:1.5rem;
}
.margin-lg-b {
    margin-bottom:1.5rem;
}
.margin-lg-l {
    margin-left:1.5rem;
}
.margin-lg-r {
    margin-right:1.5rem;
}

.margin-n {
    margin:0px;
}

.margin-a {
    margin:auto;
}

// Spacer
.spacer {
    display:block;
    min-height:20px;
}
.spacer-lg {
    display:block;
    min-height:40px;
}

.spacer-sm {
    display:block;
    min-height:10px;
}

//---Space (horizontal and Indent)
.space {
    min-height:1em;
    width:1.5em;
    display:inline-block;
}
.space-sm {
    min-height:1em;
    width:1em;
}
.space-lg {
    min-height:1em;
    width:2em;
}

.space-n {
    @extend .margin-n;
    @extend .pad-n;
}


.divider {
    height:1px;
    width:100%;
    box-sizing:border-box;
    background: $clr-border2;
}

//---Padding
$pad_dflt: 0.6rem;
$pad_sm: 0.3rem;
$pad_lg: 1.5rem;
.pad-n {padding:0px !important;}

.pad {padding:$pad_dflt !important;}
.pad-lg {padding:$pad_lg !important;}
.pad-sm {padding:$pad_sm !important;}

// Side Padding
.pad-l {padding-left:$pad_dflt !important;}
.pad-r {padding-right:$pad_dflt !important;}
.pad-t {padding-top:$pad_dflt !important;}
.pad-b {padding-bottom:$pad_dflt !important;}

// Small Side Padding
.pad-sm-l {padding-left:$pad_sm !important;}
.pad-sm-r {padding-right:$pad_sm !important;}
.pad-sm-t {padding-top:$pad_sm !important;}
.pad-sm-b {padding-bottom:$pad_sm !important;}

// Large Side Padding
.pad-lg-l {padding-left:$pad_lg !important;}
.pad-lg-r {padding-right:$pad_lg !important;}
.pad-lg-t {padding-top:$pad_lg !important;}
.pad-lg-b {padding-bottom:$pad_lg !important;}


//---Float
.float-r {
    float:right;
}

.float-l {
    float:left;
}

//---Alignment
.align-l {
    text-align:left;
}

.align-r {
    text-align:right;
}

.align-c {
    text-align:center;
}

.valign-t {
    vertical-align:top;
}

.valign-m {
    vertical-align:middle;
}

.valign-b {
    vertical-align:bottom;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

//---Shadow
.shadow {
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02) !important;
}


.shadow-lg {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 -2px 0px rgba(0,0,0,0.02) !important;
}
.shadow-sm {
    box-shadow: 0 1px 2px rgba(0,0,0,0.2) !important;
}

.shadow-l {
    box-shadow: -2px 0 4px rgba(0,0,0,0.2);
}

.shadow-r {
    box-shadow: 2px 0 4px rgba(0,0,0,0.2);
}

.shadow-in {
    box-shadow: inset 0px 0px 4px rgba(0,0,0,0.2);
}

//---Other
.pointer, .cursor-p {
    cursor:pointer;
}

.cursor-d {
    cursor:default;
}

.select-n {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.opacity-h {
    opacity:0.8;
}
.opacity-h:hover {
    opacity:1;
}
.disabled {
    opacity:0.6;
    pointer-events:none;
}
//---Scrollbars
/* width */
.scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  box-shadow:none;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  background: rgba(100,100,100,0.2); 
}

.scrollbar::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

.scrollbar-dark::-webkit-scrollbar-thumb {
    @extend .scrollbar;
    background: rgba(200,200,200,0.2); 
}


.scroll-x {
    overflow-x:auto;
}
.scroll-y {
    overflow-y:auto;
}

//---Print
.page-break {
    display:none;
}

.print-only {
    display:none;
}

@media print {
    .page-break {
        display:initial;
        page-break-after: always;
    }
    
    .print-only {
        display:initial;
    }
    
    .print-hidden {
        display:none;
    }
    
}