//---Table
table.pebble, .pebble table {
    border-collapse: collapse;
    border-spacing: 0;
    background:white;
    color:$text-color;
    
    tr th {
        background: $clr-btn-top;
    }

    tr th,
    tr td {
        border: 1px solid $clr-border;
        padding: $table-padding;
    }
}

.tbl-row-index {
    font-size:0.8rem;
    font-weight:normal !important;
    color:$text-light-color;
}

.tbl-highlight tbody {
    tr:hover {
        background:$clr-btn-top;
    }
    tr td[contenteditable="true"]:focus {
        background:white
    }
    tr:hover .tbl-row-index {
        background:$clr-btn-btm;
    }
    
}

//---
//---Fixed Header
.table-fixed-container {
    overflow-y: auto;
    border: 1px solid $clr-border;
    // border-left: 0px solid $clr-border;
    // border-right: 0px solid $clr-border;
    
    table {
        // width:100%;
    }
    
    thead th {
        // border-left:1px solid $clr-border;
        box-shadow: inset 0 -1px 0 $clr-border;
    }
    

    th {
        position: sticky;
        top: 0;
        // box-sizing:border-box;
        // z-index:2;
        border:0px !important;
        border-right:1px solid $clr-border !important;
    }

    tbody th {
        position:sticky;
        left:0;
        border-right:0px !important;
        border-bottom:1px solid $clr-border !important;
        box-shadow: inset -1px 0px 0 $clr-border;
    }
    
    td {
        border-top:0px !important;
        border-left:0px !important;
    }
    
    .cell-corner {
        z-index:20;
        position:sticky;
        top:0;
        left:0;
        border:0px !important;
        box-shadow: inset 0 -1px 0 $clr-border, inset -1px 0px 0 $clr-border;
    }
    
    .tbl-row-index {
        left:0px;
        position:sticky;
        border-bottom:1px solid $clr-border !important;
        // border-left:1px solid $clr-border !important;
    }
    
}

//---
//---Sortable
.sortable thead {
    th:not(.sort-none):hover {
        color:black;
        cursor:pointer;
    }
    th:not(.sort-none):hover::after {
      content: ' \025B4';
      opacity:0.6;
    }

}
.sortable thead, .spreadsheet-sortable thead {
    th:not(.sort-none)::after {
      opacity:0;
      content: ' \025B8';
      margin-left:0.2em;
    }
}

.sortable thead, .spreadsheet thead {
    th.sort-asc::after {
      opacity:0.6;
      content: ' \025B4';
    }

    th.sort-desc::after,th.sort-desc:hover::after {
      opacity:0.6;
      content: ' \025BE';
    }

}
// Basic Sort
.sort-asc::after {
  opacity:0.6;
  content: ' \025B4';
  margin-left:0.2em;
}

.sort-desc::after {
  opacity:0.6;
  margin-left:0.2em;
  content: ' \025BE';
}

.sort-blank::after {
    margin-left:0.2em;
    content: ' \025B8';
}

th.cell-corner::after {
    content: '' !important;
    cursor:default !important;
}

//---
//---Spreadsheet
.table-container {
    font-family:inherit;
}
table.spreadsheet {
    font-family:inherit;
    background:white;
    color:$text-color;
    border-spacing: 0;
    user-select: none;
    outline:none;
    border-collapse: separate;
    
    tr th, tr td {
        border: 1px solid rgba(50,50,50,0.1);
        text-align:center;
        padding:0.06rem 0.12rem;
        height:1.12rem;
        overflow:hidden;
    }
    
    th {
        top:0;
        position:sticky;
        background:rgb(220,220,220);
        background: linear-gradient(to bottom, rgb(240,240,240) 0%,rgb(230,230,230) 100%);
        font-weight:normal;
        font-size:0.9rem;
        box-sizing:border-box;
        user-select: none;
    }
    
    thead th {
        padding:2px 4px;
        padding-left:8px;
        
    }
    
    .cell-corner {
        z-index:20;
        position:sticky;
        top:0;
        left:0;
    }
    
    // .row-header-cell {
    .tbl-row-index {
        left:0px;
        position:sticky;
        // color:rgb(140,140,140);
        // font-size:0.8rem;
    }
    
    .td_url {
        color:rgb(26,99,163);
    }
    
    input {
        margin:0px !important;
        font:inherit;
        font-size:inherit;
    }
    
    input[type="date"] {
        font-size:0.8rem;
    }
    
    select {
        font-size:inherit !important;
        font-family:inherit !important;
        padding:initial !important;
        // padding:0.06rem 0.12rem;
        margin:0px !important;
        text-align:center;
        color:inherit;
        background:inherit;
    }
}
/*---Selection*/
// table.spreadsheet:focus tr.selected td, table.spreadsheet:focus tr.selected th {
table.spreadsheet tr.selected td, table.spreadsheet tr.selected th {
    border-top:1px solid rgba(50,50,50,0.3);
    border-bottom:1px solid rgba(50,50,50,0.3);
}

// table.spreadsheet:focus tr.selected th {
table.spreadsheet tr.selected th {
    color:rgb(0,0,0);
}

// table.spreadsheet:focus td.selected {
table.spreadsheet td.selected {
    border:1px solid rgb(20,20,20) !important;
}