
//---Page
.page {
    box-sizing:border-box;
}
.page:not(.active) {
    display:none !important;
}

.tab-container {
    border-radius:$br;
    box-sizing:border-box;
    @extend .flex-col;
}

//---
//---TabBar
.tab-bar {
    @extend .flex-row;
    // display:flex;
    position:relative;
    // min-height:initial;
    
    .tab, .tab-first, .tab-last {
        padding:.37rem .89rem .29rem .89rem;
        // padding:.45rem .9rem;
        background: $clr-btn-top;
        border-top:1px solid $clr-border;
        border-right:1px solid $clr-border;
        border-bottom:1px solid $clr-border;
        // font-weight:100;
        // font-size:1.1rem;
        color:$text-disabled;
        cursor:pointer;
        border-top-left-radius:$br;
        border-top-right-radius:$br;
        box-sizing:border-box;
        min-width:0px;
        @extend .select-n;
        // line-height:1.1rem;
        position:relative;
        margin-top:auto;
        // display:flex;
        // align-items:center;
    }
    
    .tab > .btn-close {
        font-size:1.1rem !important;
        line-height:1.1rem !important;
        padding:0px !important;
        margin:0px;
        margin-right:-0.25rem;
        margin-left:0.5rem !important;
        // box-sizing:border-box;
    }
    
    .tab.flex > .btn-close {
        float:right;
    }
    
    .tab:first-child, .tab-first {
        border-left:1px solid $clr-border;
        border-top-left-radius:$br;
    }
    
    .tab:last-child, .tab-last {
        border-top-right-radius:$br;
        border-right:1px solid $clr-border;
    }

    .tab:hover {
        color:black;
    }
    
    .tab.active {
        background:white;
        border-bottom:1px solid rgba(0,0,0,0);
        border-top:1px solid $clr-border;
        color:$heading-clr;
    }
    
    .tab.flex:last-child.active {
        border-right:1px solid $clr-border;
    }
    
    .tab-bar-space {
        flex:1;
        border-bottom:1px solid $clr-border;
    }
    
    .tab img, .tab svg, .tab i {
        height:1.2rem;
        line-height:1rem !important;
        box-sizing:border-box;
        vertical-align:top;
        margin-top:-0.05rem;
        // margin-bottom:-0.1rem;
        margin-right:0.35rem;
        opacity:0.8;
        // float:left;
    }
    .tab:hover img, .tab.active img,
    .tab:hover svg, .tab.active svg,
    .tab:hover i, .tab.active i {
        opacity:1;
    }
    
}

//---Tab Page
.tab-pages {
    border:1px solid $clr-border;
    border-top:0px;
    border-radius:$br;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    box-sizing:border-box;
    flex:1;
    min-height:0px;
}
.tab-page {
    overflow-y:auto;
    height:100%;
    box-sizing:border-box;
}

.tab-page:not(.active) {
    display:none;
}
