//---Font

.pebble,
.dlg-message-content,
input.pebble, form.pebble input, .pebble input,
select.pebble[multiple], .pebble select[multiple],
.form-label,
.content,
// table.pebble, .pebble table,
.text,
.li-item,
.calendar-tbl,.cal-year-btn,.cal-month-btn
    {font-family: $font;
    font-weight:$font-wt;
    }

.card-title,
.tab-bar,
.dlg-title,
.pebble h1, .pebble h2, .pebble h3, .pebble h4,
h1.pebble, h2.pebble, h3.pebble, h4.pebble
    {
        font-family:inherit;
    }

table.pebble, .pebble table {
    font-family:inherit;
    font-weight:inherit;
}

//---Headings
.pebble h1, .pebble h2, .pebble h3, .pebble h4, .dlg-title,
h1.pebble, h2.pebble, h3.pebble, h4.pebble {
    font-weight:400;
    color:$heading-clr;
    box-sizing:border-box;
    overflow-wrap: break-word;
}

//---Text
.text, .text-content, .text-sm, .text-lg, .text-md {
    font-weight:$font-wt;
    box-sizing:border-box;
}

.text-content {
    font-size:1.1rem;
    // padding:$content-padding;
    box-sizing:border-box;
    
    img {
        max-width:100%;
        box-sizing:border-box;
        max-height:100%;
        display:block;
    }
}

.text-sm {
    font-size:0.8rem;
}
.text-md {
    font-size:1.25rem;
}
.text-lg {
    font-size:1.6rem;
}
.text-title {
    font-size:1.3em;
    font-weight:400;
    box-sizing:border-box;
}

//---Other
.text-thin {
    font-weight:100;
}
.text-dim {
    opacity:0.7;
}
.text-bold {
    font-weight:bold !important;
}
.text-italic {
    font-style:italic !important;
}