//---Sidepanel
.panel-l {
    position:fixed;
    top:0;
    left:0;
    width:300px;
    height:100%;
    overflow-y:auto;
    max-width:90%;
    background:$panel-bg;
    z-index:150;
    @extend .shadow-r;
    box-sizing:border-box;
}

.panel-r {
    @extend .panel-l;
    left:auto;
    right:0;
    box-shadow: -2px 0 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02) !important;
}

.panel-r .btn-close, .panel-l .btn-close {
    position:absolute;
    top:$content-padding/2;
    right:$content-padding/2;
}

//---Spinner
.spinner-bar-pulse {
  width: 80px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  display:inline-block;
}

.spinner-bar-pulse > div {
  height: 100%;
  width: 8px;
  display: inline-block;
  background-color:$spinner-bg;
  border-radius:3px;
  margin:2px;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner-bar-pulse .bar-pulse2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner-bar-pulse .bar-pulse3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner-bar-pulse .bar-pulse4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner-bar-pulse .bar-pulse5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

//---Splitter
.splitter, .splitter-h {
    box-sizing:border-box;
    background:rgba(0,0,0,0);
    width:4px;
    margin:0px -2px;
    cursor:col-resize;
    z-index:80;
}
.splitter:hover, .splitter-h:hover {
    background:rgba(50,50,50,0.5);
}
.splitter-h {
    width:100%;
    cursor:row-resize;
    height:4px;
    margin:-2px 0px;
}
.splitter-bg {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    height: 100vh;
    width: 100vw;
    z-index:70;
}

//---Pagination
.pagination-container {
    display:inline-flex;
    padding:4px 0px;
}

.pagination-i-page {
    width:50px;
    text-align:center;
    margin:2px 12px !important;
    margin-right:4px !important;
    font-size:0.9rem !important;
    line-height:0.9rem !important;
    padding:0.3rem 0.6rem !important;
}
.pagination-i-page::-webkit-inner-spin-button, 
table.spreadsheet input::-webkit-inner-spin-button,
{
  appearance: none;
  -webkit-appearance: none;
}

.pagination-count {
    font-size:0.9em;
    display:flex;
    margin:auto 2px;
    // margin-left:-8px;
    margin-right:12px;
    opacity:0.8;
}

.pagination-container .btn {
    padding:0.3rem 0.6rem;
    font-size:1.4rem !important;
    min-width:40px;
    text-align:center;
    user-select: none;
}

//---List Item
.li-item-container, .li-item-container-h {
    @extend .flex-col;
    overflow-y:auto;
}

.li-item-container.form-list {
    flex:1;
    background:white;
}

.li-item {
    display:flex;
    align-items:center;
    box-sizing:border-box;
    padding:0.3rem 0.65rem;
    // padding-right:0px;
    justify-content: left;
    // font-size:1.1rem;
    
    img {
        box-sizing:border-box;
        height:1.4rem !important;
        width:1.4rem !important;
        object-fit: contain;
        margin:-.2rem 0px;
        margin-right:0.45rem;
    }
    
    .sticker {
        margin-right:0.45rem;
    }
    
}

.li-item-container.border {
    border-bottom:0px;
    .li-item {
        border-bottom:1px solid $clr-border;
    }
}

// .li-item-container.selectable {
//     cursor:pointer;
// }

.li-item-container.selectable .li-item {
    // border:1px solid rgba(0,0,0,0);
    cursor:pointer;
    // padding:0.25rem 0.65rem;
}
.li-item-container.selectable .li-item:hover {
    // background:$bg-highlight-h;
    opacity:0.8;
    // border-radius:4px;
    // border:1px solid rgba(0,0,0,0.2);
}


.li-item.selected {
    background:$bg-highlight;
}

.li-text {
    flex:1;
    // font-size:1.1rem;
    padding-right:0.45rem;
}

.li-item.heading {
    font-size:1.2rem;
    background:$clr-card-bg;
}

// .li-details {
//     flex-basis:100%;
//     font-size:0.9rem;
//     min-height: 0;
//     padding:0.3rem;
//     padding-left:0.45rem;
//     padding-top:0.5rem;
// }

.li-item-h, .li-item-container-h .li-item {
    @extend .li-item;
    cursor:pointer;
}

.li-item-h:hover, a .li-item:hover, .li-item-container-h .li-item:hover {
    // background:$bg-highlight;
    color:black;
}

a .li-item {
    color:$text-color;
}

//---Tree
.tree-item {
    display:flex;
    padding:0.1rem 0.5rem;
    border:1px solid rgba(0,0,0,0);
    margin:1px 0px;
    justify-content:center;
    align-items:center;
}

.tree-btn {
    opacity:0.6;
}
.tree-btn {
    background: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" version="1.1"><path d="M6,4 L10,8 6,12" fill="none" stroke="currentColor" stroke-width="1.5"/></svg>');
    width: 1rem;
    height: 1rem;
    display:inline-block;
    cursor:pointer;
    margin-right:1px;
}
.tree-btn:hover {
    opacity:0.8;
}

.tree-text {
    flex:1;
}

.tree-block.expand > .tree-item .tree-btn {
    background: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" version="1.1"><path d="M4,6 L8,10 12,6" fill="none" stroke="currentColor" stroke-width="1.5" /></svg>');
}

.tree-btn.none {
    cursor:default;
    background:none !important;
}
    
.tree-item-childs {
    margin-left:1rem;
}

.tree-block:not(.expand) > .tree-item-childs {
    display:none;
}
//---Tree Drag and Drop
.tree-item.drag-over-t {
    border-top:1px solid $blue;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
}

.tree-item.drag-over-b {
    border-bottom:1px solid $blue;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}
.tree-item.drag-over-box {
    border:1px solid $blue;
}
.tree-item.drag-item {
    opacity:0.5;
    // background:$gray;
}
.tree-item.drag-item.drag-over-t, 
.tree-item.drag-item.drag-over-b,
.tree-item.drag-item.drag-over-box {
    border:1px solid rgba(0,0,0,0);
}