/* Version 2.14.2    Copyright 2021-2024 pebble   Released under the MIT License */
.calendar-container {
  position: relative;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  text-align: center;
}

.calendar-tbl {
  border-collapse: collapse;
  border-spacing: 0;
  display: inline-table;
}

.calendar-tbl th span {
  cursor: pointer;
}

.calendar-tbl th span:hover {
  opacity: 0.8;
}

.calendar-tbl tr.cal-title {
  border: 1px solid #2f8dd9;
}

.calendar-tbl tr.cal-title th {
  background: #2f8dd9;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: normal;
  color: white;
  border: none;
}

.calendar-tbl .cal-next {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: normal;
}

.calendar-tbl .cal-next:hover {
  font-weight: bold;
}

.calendar-tbl .cal-day-header {
  text-align: center;
  background: #ebebeb;
}

.calendar-tbl .cal-day-header td {
  border: 1px solid gainsboro;
  padding: 0.5rem;
  color: #646464;
}

.calendar-tbl .cal-day {
  text-align: center;
  padding: 0.5rem;
  border: 1px solid gainsboro;
  position: relative;
  vertical-align: top;
}

.calendar-tbl .cal-day.selected {
  background: #9eddff !important;
}

.calendar-tbl .cal-day.today {
  background: #ebebeb;
}

.calendar-tbl .cal-day-day {
  font-size: 0.8rem;
  color: #505050;
  text-align: left;
}

.calendar-tbl .cal-day-content {
  min-height: 1rem;
  font-size: 0.9rem;
}

.calendar-tbl.selectable .cal-day {
  cursor: pointer;
}

.calendar-tbl.selectable .cal-day:hover {
  font-weight: bold;
}

.cal-sel-month, .cal-sel-year {
  position: absolute;
  top: 0px;
  vertical-align: top;
  height: 100%;
  width: 100%;
  background: rgba(50, 50, 50, 0.2);
  text-align: center;
  z-index: 20;
  box-sizing: border-box;
  padding: 10px;
}

.cal-sel-year {
  text-align: right;
  padding-right: 20px;
}

.cal-year-btn {
  display: inline-block;
  width: 50%;
  text-align: center;
  margin: 1px;
}

.cal-month-btn {
  display: inline-block;
  text-align: center;
  margin: 1px;
  width: 30%;
  border-radius: 0px;
}

.cal-year-btn.active, .cal-month-btn.active {
  font-weight: bold;
}
